<footer class="footer-area">
		<div class="container">
			<div class="footer-bottom row align-items-center text-center text-lg-left">
				<p class="footer-text m-0 col-lg-4 col-md-12 text-center">
					<strong>Worship with us:</strong> <br>
					Lesbora Hall, Adenike Area, Lautech, Ogbomoso. <br>
					<strong>Contact us:</strong> <br>
					08167825293 or 08163030945
				</p>  <br><br>

				<p class="footer-text m-0 col-lg-4 col-md-12 text-center">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          The Sanctified Assembly &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
          | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
				
				<div class="col-lg-4 col-md-12 text-center text-lg-right footer-social mb-1">
					<a href="https://www.facebook.com/Sanctified.Ministries/"><i class="ti-facebook"></i></a>
				</div>
			</div>
		</div>
	</footer>