<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
  <!--================ Banner Section start =================-->
  <section class="hero-banner text-center">
    <div class="container">
      <h1>The Sanctified Assembly</h1>
      <p class="text-uppercase">The Word, and the Spirit</p>
      <a class="button button-outline" href="/messages?page=1">Get Messages</a>
    </div>
  </section>
  <!--================ Banner Section end =================-->

  <!--================ Feature section start =================-->
  <section class="section-margin">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card-feature text-center">
            <div class="feature-icon">
              <img src="./static/img/calendar.svg" width="50" height="50" alt="">
            </div>
            <h3>Our Meetings</h3>
            <p>
              Our meetings constantly "soak" the believer's mind in the reality that is his as a result of his faith in Christ.
              <br>
              In this reality, there exists the responsibity of the believer to conduct himself as one who has believed - and this is constantly reiterated.
              <br> <br>
              Join us:
              <br>
              <strong>Sundays:</strong> 08:30am
              <br>
              <strong>Thursdays:</strong> 05:00pm
              <br>
              <strong>Special (Yearly) Meetings:</strong> Hagios Bible Seminar and Concerning Spirituals.
            </p>

          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card-feature text-center">
            <div class="feature-icon">
              <img src="./static/img/headphone.svg" width="50" height="50" alt="">
            </div>
            <h3>Our Materials</h3>
            <p>
              Our teaching materials prayerfully aim to equip the believer with the knowledge necessary to be an effective minister. <br> As such, our teachings defend practices that the Bible upholds - from the Bible, of course - and clarifies questions that have been unanswered for many believers.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="card-feature text-center">
            <div class="feature-icon">
              <img src="./static/img/target.svg" width="50" height="50" alt="">
            </div>
            <h3>Our Outreaches</h3>
            <p>
               As believers, our salvation saddles us with the responsibity of ensuring that others are saved and discipled. <br> It follows, then, that what bothers God bothers us. This we do with accountability both as individuals and as a group.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ Feature section end =================-->

  <!--================ Price Table section start =================-->
  <section class="section-padding priceTable-bg">
    <div class="container">
      <div class="section-intro-white pb-85px text-center">
        <h2>Careful and Attentive Study of God's Word</h2>
        <div class="section-style"></div>
      </div>
    </div>
  </section>
  <!--================ Price Table section end =================-->

<% include partials/footer %>
</body>
<% include partials/script %>
</html>